<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Project: Timestamp Microservice</title>
</head>
<style>
  .container{  
     text-align: center;

  }
</style>
<body>
    
    <div class="container">
        <header>
            <h2>API Project: Timestamp Microservice</h2>
        </header>
        <p>"/api/timestamp" - <span>Return time utc,unix</span></p>
        <p>"/api/timestamp/[unix]" - <span>Return time utc,unix .Eg :11111111</span></p>
        <p>"/api/timestamp/[date]" - <span>Return time utc,unix. Eg:10-10-2020</span></p>
    </div>
    
</body>
</html>